.cards {
  min-height: 28vh;
  min-width: 17%;
  border-radius: 5px;
  border: 2px solid #e0e2db;
}

.cardName {
  height: 4vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  background-color: #d7fff1;
  color: #2d728f;
  font-family: Comic Sans MS;
}

.imageContainer {
  height: 19vh;
  width: 100%;
}

.cardBtnContainer {
  height: 5vh;
  width: 100%;
  display: flex;
}

.cardBtn {
  height: 5vh;
  width: 33.33%;
  border-radius: 5px;
  background-color: #d7fff1;
}

.editCardBtn {
  height: 5vh;
  width: 50%;
  font-size: 1vw;
  background-color: #d7fff1;
}

.editNameInput {
  background-color: #f6feaa;
}

.edit:hover {
  background-color: #09e85e;
}

.delete:hover {
  background-color: #ff0202;
}

.fav:hover {
  background-color: #f6ff0a;
}

@media (max-width: 1000px) {
  .cardName {
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .cardName {
    font-size: 4vw;
  }
}
