.cards {
  height: 28vh;
  width: 17%;
  border-radius: 5px;
  border: 2px solid #e0e2db;
}

.cardName {
  height: 4vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  background-color: #d7fff1;
  color: #2d728f;
  font-family: Comic Sans MS;
}

.imageContainer {
  height: 19vh;
  width: 100%;
}

.cardBtnContainer {
  height: 5vh;
  width: 100%;
  display: flex;
}

.cardBtn {
  height: 4vh;
  width: 33.33%;
  font-size: 1vw;
  background-color: #e0e2db;
}

.editCardBtn {
  height: 4vh;
  width: 50%;
  font-size: 1vw;
  background-color: #e0e2db;
}

.editNameInput {
  background-color: #f6feaa;
}

.cardBtn:hover,
.editCardBtn:hover {
  background-color: #09e85e;
}
