.header {
  height: 15vh;
  width: 100%;
  border: 2px dotted black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1vw;
  font-family: "Get Schwifty Regular";
  font-size: 2vw;
}

.header-icon {
  height: 15vh;
  width: 20%;
  border: 2px dotted red;
}

.btnContainer {
  height: 15vh;
  width: 10%;
  /* border: 2px dotted blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Btn {
  height: 8vh;
  width: 4vw;
  border-radius: 50%;
  font-size: 1vw;
  /* border: 2px solid green; */
}
