* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.bgImg {
  background: url(https://images.alphacoders.com/876/876589.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 160vh;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  min-height: 125vh;
  width: 95%;
  margin: auto;
}

.blackholeContainer {
  height: 35vh;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blackhole {
  height: 19vh;
  width: 30%;
  animation: blackhole-spin infinite 5s linear;
}

@keyframes blackhole-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 560px) {
  .blackhole {
    width: 60%;
  }
}
